a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none;
}
:focus {
    outline: 0;
}
a {
    text-decoration: none;
}
p {
    text-decoration: none;
    -webkit-text-size-adjust: none;
    line-height: 1.6;
}
strong {
    text-decoration: none;
    font-weight: 700;
}
cite,
em,
i {
    text-decoration: none;
    font-weight: 400;
    line-height: 1;
    vertical-align: baseline;
}
code,
pre {
    text-decoration: none;
}
ins {
    text-decoration: none;
}
sup {
    text-decoration: none;
    bottom: 5px;
    font-size: 70%;
    vertical-align: baseline;
    font-weight: 400;
    position: relative;
}
dl dt {
    text-decoration: none;
}
dd {
    text-decoration: none;
}
mark {
    text-decoration: none;
    vertical-align: baseline;
    background-color: transparent;
}
del {
    text-decoration: line-through;
}
.btn:hover {
    background-position: bottom;
}
img[alt] {
    font-size: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    line-height: 1.4;
}
img[data-src].lazy {
    opacity: 0;
}
.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
}
.clearfix {
    clear: both;
}
svg:not(:root) {
    overflow: hidden;
}
iframe [name="google_conversion_frame"] {
    width: 0 !important;
    height: 0 !important;
    position: absolute;
    z-index: -9999999;
}
.class-hidden {
    display: none;
    text-indent: -99999px;
    font-size: 0;
    opacity: 0;
}
html {
    width: 100%;
    height: 100vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    scrollbar-color: inherit;
    scrollbar-width: thin;
}
body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #444;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: inherit;
    scrollbar-width: thin;
}
button,
input,
select,
textarea {
    border: none;
    background: 0 0;
    -webkit-appearance: none;
    appearance: none;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: #aaa;
}
.mask {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 99999;
}
.mask::after,
.mask::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    background-color: #dfac05;
    transition: height 0.9s ease;
    z-index: 1000;
}
.mask::before {
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
}
.mask::after {
    bottom: 0;
    left: 0;
    top: auto;
    right: auto;
}
.mask.show::after,
.mask.show::before {
    height: 0;
    width: 100%;
}
.mask.finish {
    z-index: -99999;
}
.loadicon {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
    z-index: 110000;
}
.load-present {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.loadicon.show .stroke-line {
    transition: all 0.5s ease-in-out;
    fill-opacity: 1;
    stroke-opacity: 0;
}
.loadicon .stroke-line {
    fill-opacity: 0;
    fill: #fff;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 0.5;
    stroke-dasharray: 600;
    stroke-dashoffset: 600;
}
.loader .stroke-line {
    animation-name: DrawStroke;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}
.header {
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 110;
}
.header::after {
    content: "";
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: -100%;
    background-color: #FABC3D;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    opacity: 0;
    z-index: -1;
}
.logo {
    /*width: 200px;*/
    height: 70px;
    position: absolute;
    left: 40px;
    top: 20px;
    color: #fff;
    z-index: 102;
}
.logo.fixed {
    left: 100px;
    color: #fff;
    top: 20px;
}
.logo.red {
    color: #eb1c23;
}
.logo svg {
    width: 100%;
    height: 100%;
}
.logo.hide {
    opacity: 0;
    top: -100%;
}
.right-header {
    position: absolute;
    width: auto;
    height: 40px;
    right: 80px;
    top: 20px;
    transform: translateY(-150px);
    transition: transform 0.3s ease-in-out;
    z-index: 10;
}
.right-header.show {
    transform: none;
}
.navigation {
    width: 100%;
    height: 0;
    position: fixed;
    text-align: center;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    z-index: 90;
}
.nav {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
}
.nav::after,
.nav::before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.nav ul {
    height: auto;
    width: 90%;
    position: relative;
    display: inline-block;
    text-align: right;
    margin: 0;
    vertical-align: middle;
}
.nav li {
    position: relative;
    height: auto;
    width: 100%;
    display: block;
    margin: 15px 0;
    opacity: 0;
    padding-right: calc(100vw / 22);
    text-align: right;
}
.nav li a {
    display: inline-block;
    vertical-align: middle;
    font-weight: 300;
    font-size: calc(100vh / 20);
    line-height: 1;
    padding: 10px 20px;
    color: #fff;
    text-align: right;
    white-space: nowrap;
}
.nav li.current {
    pointer-events: none;
}
.nav li.current.active {
    pointer-events: auto;
}
.nav li.active a,
.nav li.current a {
    color: #aaa;
}
.nav li svg {
    width: calc(100vh / 20);
    height: calc(100vh / 20);
    display: block;
}
.nav-second {
    width: auto;
    height: auto;
    position: absolute;
    right: 200px;
    top: 20px;
    transform: translateY(-150px);
    transition: transform 0.5s ease-in-out;
    z-index: 10;
}
.nav-second ul {
    height: auto;
    width: 100%;
    position: relative;
    display: block;
    text-align: right;
    margin: 0;
}
.nav-second li {
    position: relative;
    height: auto;
    width: auto;
    display: inline-block;
    margin: 0 10px;
}
.nav-second li a {
    display: block;
    font-weight: 400;
    font-size: calc(100vw / 100);
    line-height: 1;
    padding: 10px;
    color: #fff;
}
.nav-second li.current {
    pointer-events: none;
}
.nav-second li.current.active {
    pointer-events: auto;
}
.nav-second li.active a,
.nav-second li.current a {
    color: #edb51c;
}
.nav-second.show {
    transform: none;
}
.search-but {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: #fff;
}
.search-but svg {
    width: 100%;
    height: 100%;
}
.language {
    position: relative;
    width: auto;
    height: 40px;
    position: relative;
    display: inline-block;
    padding: 0 6px;
    vertical-align: middle;
}
.language li {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    margin: 0;
}
.language li a {
    font-size: 14px;
    font-weight: 700;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
.language li.active {
    display: none;
}
.nav-click,
.nav-click::after,
.nav-click::before {
    transition: all 0.3s ease-in-out;
}
.nav-click {
    cursor: pointer;
    position: absolute;
    width: 60px;
    height: 60px;
    right: 20px;
    top: 10px;
    color: #fff;
    z-index: 1000;
}
.nav-click svg {
    width: 100%;
    height: 100%;
    display: block;
}
.nav-click::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.nav-click::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}
.header.hide .nav-click.active,
.nav-click.active {
    color: rgba(255, 255, 255, 0);
    top: 20px;
}
.nav-click.active::before {
    width: 30px;
    height: 4px;
    background-color: #fff;
    left: 14px;
    top: calc(50% - 2px);
    transform: rotate(-45deg);
}
.nav-click.active::after {
    width: 30px;
    height: 4px;
    background-color: #fff;
    left: 14px;
    top: calc(50% - 2px);
    transform: rotate(45deg);
}
.container {
    width: 100%;
    height: auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    overflow: hidden;
}
section {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    float: left;
}
.content-page {
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.content-table {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.content-wrap {
    width: 90%;
    max-width: 1200px;
    display: block;
    margin: auto;
}
.container.mapshow {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    z-index: 999;
}
@media screen and (max-width: 1600px) {
    .logo {
        width: 180px;
        top: 10px;
        left: 40px;
    }
    .nav-second li a {
        font-size: calc(100vw / 95);
    }
}
@media screen and (max-width: 1400px) {
    .nav-second li a {
        font-size: calc(100vw / 90);
    }
}
@media screen and (max-width: 1300px) {
    .nav-second li a {
        font-size: calc(100vw / 85);
    }
}
@media screen and (max-width: 1100px) {
    .container {
        margin: 70px 0 0 0;
    }
    .mask {
        z-index: 1000;
    }
    .mask::after,
    .mask::before {
        content: "";
        width: 50vw;
        height: 100%;
        transition: width 0.6s ease;
    }
    .mask::before {
        left: 0;
        top: 0;
        bottom: auto;
        right: auto;
    }
    .mask::after {
        top: 0;
        right: 0;
        left: auto;
        bottom: auto;
    }
    .mask.show::after,
    .mask.show::before {
        width: 0;
        height: 100%;
    }
    body {
        overflow-x: hidden;
        overflow-y: auto;
        height: auto;
    }
    .nav-second,
    .social-top,
    .wheel {
        display: none;
    }
    .loadicon {
        width: 100px;
        height: 100px;
        margin: -50px 0 0 -50px;
    }
    .header {
        position: fixed;
        width: 100%;
        height: 70px;
        z-index: 9995;
    }
    .header.hide::after,
    .header::after {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        top: 0;
        opacity: 1;
    }
    .header.hide,
    .header.vid {
        top: 0;
    }
    .logo {
        width: 160px;
        height: 70px;
        top: 0;
        left: 25px;
        color: #eb1c23;
    }
    .logo.fixed {
        top: 0;
        left: 25px;
        color: #eb1c23;
    }
    .right-header {
        right: 80px;
        top: 15px;
    }
    .language li a {
        color: #999;
    }
    .search-but {
        color: #999;
    }
    .nav-click {
        width: 50px;
        height: 50px;
        right: 20px;
        top: 10px;
        color: #eb1c23;
    }
    .nav-click.active {
        border-color: #999;
        top: 10px;
    }
    .nav-click.active::before {
        width: 25px;
        background-color: #999;
        left: 11px;
    }
    .nav-click.active::after {
        width: 25px;
        background-color: #999;
        left: 11px;
    }
    .navigation {
        height: calc(100vh - 70px);
        width: 0;
        right: 0;
        bottom: auto;
        top: 70px;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
    }
    .navigation > * {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .nav {
        width: 100%;
        height: auto;
        position: relative;
        top: auto;
        left: auto;
        padding: 30px 0;
    }
    .nav::after,
    .nav::before {
        display: none;
    }
    .nav ul {
        display: block;
        width: 100%;
        text-align: center;
    }
    .nav li {
        margin: 20px 0;
        text-align: center;
        padding: 0;
    }
    .nav li a {
        padding: 10px 20px;
        text-align: center;
        font-weight: 400;
    }
    .nav li svg {
        width: 50px;
        height: 50px;
    }
}
@media only screen and (max-width: 1100px) and (orientation: landscape) {
    .nav li a {
        font-size: calc(100vw / 22);
    }
}
@media only screen and (max-width: 1100px) and (orientation: portrait) {
    .nav li a {
        font-size: calc(100vw / 16);
    }
}
@media screen and (max-width: 620px) {
    .header {
        height: 70px;
    }
    .nav-click,
    .nav-click.active {
        right: 15px;
        top: 5px;
    }
    .logo {
        width: 140px;
        height: 60px;
        left: 20px;
    }
    .logo.fixed {
        left: 20px;
    }
    .right-header {
        right: 75px;
        top: 10px;
    }
    .navigation {
        height: calc(100vh - 60px);
        top: 60px;
    }
    .container {
        margin: 60px 0 0 0;
    }
}
@media screen and (max-width: 340px) {
    .logo,
    .logo.fixed {
        left: 10px;
    }
    .right-header {
        right: 65px;
    }
}
